extends layout

block content
  h1= title
  p Welcome to #{title}

  each message in messages
    div
    p
      strong= message.user
      | : #{message.text}
    p Message added: #{message.added}

  a(href='/new') Create a new message  

